<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>BREAD (Browse, Read, Edit, Add, Delete)</title>
</head>
<body>
    <div class="container">
        <h2>Edit Data</h2>
        <form action="" method="POST">
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <label class="form-check-label" for="id">
                        ID
                        </label>
                    </div>
                </div>
                <div class="col-10">
                    <div class="form-group">
                        <input type="text" class="form-control" id="id" name="id" placeholder="ID" value="<%= item.id %>" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <label class="form-check-label" for="string">
                        String
                        </label>
                    </div>
                </div>
                <div class="col-10">
                    <div class="form-group">
                        <input type="text" class="form-control" id="string" name="string" value="<%= item.string %>" placeholder="String">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <label class="form-check-label" for="integer">
                        Integer
                        </label>
                    </div>
                </div>
                <div class="col-10">
                    <div class="form-group">
                        <input type="text" class="form-control" id="integer" name="integer" value="<%= item.integer %>" placeholder="Integer">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <label class="form-check-label" for="float">
                        Float
                        </label>
                    </div>
                </div>
                <div class="col-10">
                    <div class="form-group">
                        <input type="text" class="form-control" id="float" name="float" value="<%= item.float %>" placeholder="Float">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="form-check">
                        <label class="form-check-label" for="date">
                        Date
                        </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="date" class="form-control" id="date" name="date" value="<%= item.date %>">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <label class="form-check-label" for="boolean">
                        Boolean
                        </label>
                    </div>
                </div>
                <div class="col-10">
                    <div class="form-group">
                        <select id="boolean" class="custom-select custom-select" name="boolean">
                            <option>Choose the boolean ...</option>
                            <option value="true" <%= item.boolean == 'true' ? 'selected' : '' %>>true</option>
                            <option value="false" <%= item.boolean == 'false' ? 'selected' : '' %>>false</option>
                        </select>
                    </div>
                </div>
            </div>
        <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</body>
</html>