<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Challenges 19</title>
    </head>
    <body>
    <h1 class="container">Edit Data</h1>
    <div class="container">
        <form action = "" method = "post">
            <div class="form-group row">
                <label for="id" class="col-sm-1 col-form-label">ID</label>
                <div class="col-sm-7">
                    <input type="number" class="form-control" id="id" name="id" value="<%= Number(id) + 1 %>" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label">String</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="string" name="string" placeholder="String" value = "<%= item.string %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label">Integer</label>
                <div class="col-sm-7">
                    <input type="number" class="form-control" id="integer" name="integer" placeholder="Integer" value = "<%= item.integer %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label">Float</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="float" name="float" placeholder="Float" value = "<%= item.float %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label">Date</label>
                <div class="col-sm-4">
                    <input class="form-control" type="date" id="startDate" name="date" value="<%= item.date %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label">Boolean</label>
                <div class="col-sm-7">
                    <select class="form-control" id="exampleFormControlSelect1" name="boolean" >
                        <option value= "true" <%= item.boolean == "true" ? ' selected' : ' ' %>>true</option>
                        <option value= "false" <%= item.boolean == "false" ? ' selected' : ' ' %>>false</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="form-group row">
                    <div class="col-sm-7">
                        <button type="submit" class="btn btn-primary">Edit</button>
                        <a href="/" type="submit" class="btn btn-primary">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>